<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/aboutus.css">
    <!-- Import the "New Amsterdam" font using @import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js">
    </script>
    <script type="text/javascript">
        (function () {
            emailjs.init({
                publicKey: "bxD2OwrTZ3LT81EVJ",
            });
        })();
    </script>




</head>

<body>
    <div class="header">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
        <img src="/logos/yellow shine.png">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
    </div>

    <div class="navbar">
        <img class="logo" src="/logos/Untitled design (1) (1).png" onclick="window.location.href='/';">
        <img class="homebutton" src="/logos/icons8-home-96.png" onclick="window.location.href='/';">
        <img class="loginbutton" src="/logos/icons8-name-96.png" onclick="window.location.href='/login';">
        <img class="shoppingbag" src="/logos/icons8-shopping-bag-50.png"
            onclick="window.location.href='/profile/cart';">
        <img class="wheel" src="/logos/icons8-ship-wheel-96.png" onclick="window.location.href='/navbar';">
    </div>

    <div class="pt0">about us</div>

    <img class="mainimg" src="https://alt.company/wp-content/uploads/2021/07/Illustration-02.png">

    <div class="contain">
        <div class="a1">INDIA's Favorite Alternative</div>
        <div class="a2">
            Embracing a plant-powered lifestyle is at the heart of our mission. At Altco, we recognize the extraordinary
            benefits of plant-based living and are dedicated to providing you with accessible, affordable, and
            nourishing alternatives. Our commitment to sustainability is woven into every aspect of our brand.
        </div>


        <div class="a3">
            In a world that is continually seeking healthier and more sustainable choices, Altco stands out as a
            plant-based
            brand that prioritizes superior taste, well-being, and environmental consciousness. Whether it’s sourcing
            premium plant ingredients or employing eco-friendly packaging, we uphold a standard of excellence with zero
            compromises on quality.
        </div>

        <div class="a4">
            With an ever-changing world, Altco empowers you to make positive choices each day. We believe in
            facilitating the changes you desire, offering an array of plant-based options that cater to your diverse
            tastes and needs. From enhancing your morning coffee to elevating your cereal experience or indulging in a
            mood-boosting ice cream, Altco is here to enrich your daily moments.

        </div>

        <div class="a5">
            As a venture by Whitelotus foods labs Pvt Ltd., we are committed to creating a world where plant-based
            living is not just a choice but a celebration of vitality, compassion, and mindful consumption. Join us on
            this journey towards a greener, healthier future.

        </div>

    </div>







</body>

</html>