<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
    <!-- Import the "New Amsterdam" font using @import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>
</head>

<body>
    <div class="header">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
        <img src="/logos/yellow shine.png">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
    </div>
    <div class="navbar">
        <img class="logo" src="/logos/Untitled design (1) (1).png" onclick="window.location.href='/';">
        <img class="homebutton" src="/logos/icons8-home-96.png" onclick="window.location.href='/';">
        <img class="loginbutton" src="/logos/icons8-name-96.png" onclick="window.location.href='/login';">
        <img class="shoppingbag" src="/logos/icons8-shopping-bag-50.png"
            onclick="window.location.href='/profile/cart';">
        <img class="wheel" src="/logos/icons8-ship-wheel-96.png" onclick="window.location.href='/navbar';">
    </div>

    <div class="frame1">
        <div class="bgbox"></div>
        <img class="mainlogo" src="/logos/Untitled design (1) (1).png">
        <div class="f1text1">TART and SMART</div>
        <div class="f1text2">MADE WITH PLANTS</div>
        <img class="yellowshine1" src="/logos/yellow shine.png">
        <img class="yellowshine2" src="/logos/yellow shine.png">
        <div class="marquee">
            <div class="marquee-content">
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
                <div class="box"></div>
            </div>
        </div>
    </div>

    <div class="frame2">
        <img class="f2img" src="/images/Screenshot 2024-08-31 222523.png">
    </div>

    <div class="frame3">
        <div class="marquee2">
            <div class="marquee-content2">
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
                <div class="m2box"></div>
            </div>
        </div>
        <div class="bgbox2"></div>
        <div class="f3text">Discover the delicious power of AltCo! Savour our vegan protien in Chocolatey Delight,
            Vanilla Dream, Berry Bliss, and Tropical Twist. Pair with our creamy Oat Milk, Smooth Almond Milk, and
            signature Alt Milk. Embrace health and taste with AltCo!</div>
    </div>

    <div class="frame4">
        <div class="flavour1">
            <div class="f4text">BERRY</div>
            <button class="f4button" onclick="window.location.href='/products?type=alt-protein'">SHOP NOW!</button>
            <img class="f4img" onclick="window.location.href='/products?type=alt-protein'"
                src="/images/protien berry blast.png">
        </div>

    </div>



    <div class="marquee3">
        <div class="marquee-content3">
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
            <div class="m3box"></div>
        </div>
    </div>

    <div class="box5">
        <div class="bt5">vegan Delight</div>
    </div>



    <div class="marquee4">
        <div class="marquee-content4">
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
            <div class="m4box"></div>
        </div>
    </div>

    <div class="box6">
        <img class="p1 hover" src="/images/p1.png" alt="" onclick="window.location.href='/products?type=plant-delight'">
        <div class="p1t hover" onclick="window.location.href='/products?type=plant-delight'">Altco dark chocolate</div>
        <div class="p1d hover" onclick="window.location.href='/products?type=plant-delight'">cacao</div>

        <img class="p2  hover" src="/images/p2.png" alt="" onclick="window.location.href='/products?type=plant-delight'">
        <div class="p2t hover" onclick="window.location.href='/products?type=plant-delight'">Altco dark chocolate</div>
        <div class="p2d hover" onclick="window.location.href='/products?type=plant-delight'">orange peal</div>

        <img class="p3  hover" src="/images/p3.png" alt="" onclick="window.location.href='/products?type=plant-delight'">
        <div class="p3t hover" onclick="window.location.href='/products?type=plant-delight'">Altco dark chocolate</div>
        <div class="p3d hover" onclick="window.location.href='/products?type=plant-delight'">sea salt</div>
    </div>


    <div class="marquee5">
        <div class="marquee-content5">
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
            <div class="m5box"></div>
        </div>
    </div>



    <div class="avail">
        <div class="at">Available on</div>
        <div class="imgcontainer">
            <img src="/images/a4.png" alt="" onclick="window.location.href='https://www.bigbasket.com/pb/alt-co/'">
            
            <img src="/images/a3.png" alt="" onclick="window.location.href='https://www.zeptonow.com/search?query=alt+co'">
            <img src="/images/a2.png" alt="" onclick="window.location.href='https://www.swiggy.com/search?query=alt+co'">
            <img src="/images/a1.png" alt="" onclick="window.location.href='https://www.amazon.in/s?k=Alt+Co&ref=bl_dp_s_web_0'">

        </div>

    </div>












</body>

</html>