<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/media.css">
    <!-- Import the "New Amsterdam" font using @import -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap" rel="stylesheet">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
    </style>
</head>

<body>
    <div class="header">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
        <img src="/logos/yellow shine.png">
        <div>Plant Based Protien</div>
        <img src="/logos/yellow shine.png">
        <div>Milk Alternatives</div>
    </div>

    <div class="navbar">
        <img class="logo" src="/logos/Untitled design (1) (1).png" onclick="window.location.href='/';">
        <img class="homebutton" src="/logos/icons8-home-96.png" onclick="window.location.href='/';">
        <img class="loginbutton" src="/logos/icons8-name-96.png" onclick="window.location.href='/login';">
        <img class="shoppingbag" src="/logos/icons8-shopping-bag-50.png"
            onclick="window.location.href='/profile/cart';">
        <img class="wheel" src="/logos/icons8-ship-wheel-96.png" onclick="window.location.href='/navbar';">
    </div>

    <div class="pt0">media</div>

    <div class="mediacontainer" >
        <div class="m1 i1" onclick="window.location.href='https://hospitality.economictimes.indiatimes.com/news/operations/food-and-beverages/alt-co-to-launch-plant-based-food-products/85684880';">
            <div>ET Hospitality</div>
            

        </div>
        <div class="m1 i2" onclick="window.location.href='https://www.indianretailer.com/news/alt-co-intensifies-vision-to-go-green.n11620';">
            <div>India Retailer</div>
        </div>
        <div class="m1 i3" onclick="window.location.href='https://bangaloreinsider.com/alt-co-caters-for-a-healthy-and-eco-friendly-solution-for-milk-lovers/';">
            <div>Bangalore Insider</div>
        </div>
        <div class="m1 i4" onclick="window.location.href='https://yourstory.com/2021/09/plant-based-alternatives-industry-potential';">
            <div>YourStory</div>
        </div>
        <div class="m1 i5" onclick="window.location.href='https://www.forbesindia.com/article/startups/cow-buffalo-goat-no-its-oat-milk/73203/1';">
            <div>Forbes</div>
        </div>
        <div class="m1 i6" onclick="window.location.href='https://timesofindia.indiatimes.com/blogs/voices/plant-based-is-a-new-way-of-life/';">
            <div>times of india</div>
        </div>



    </div>

    <div class="cont">
        <div class="followus">Follow us on social media !</div>
        <img class="a7 hover oswald" src="/logos/icons8-instagram-96.png" onclick="window.location.href='https://www.instagram.com/thealtcompany/';">
        <img class="a8 hover oswald" src="/logos/icons8-facebook-96.png" onclick="window.location.href='https://www.facebook.com/TheAltCompany/?ref=page_internal';">
        <img class="a9 hover oswald" src="/logos/icons8-linkedin-96.png" onclick="window.location.href='https://www.linkedin.com/company/the-alt-company/';">
    </div>

    <div class="iframecont">

        <iframe width="70%" height="70%" src="https://www.youtube.com/embed/MV0a6GFEwvU?si=pJqmpjamIYOYUsMV"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

    <div class="invis">
        
    </div>














</body>

</html>