*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "New Amsterdam", sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;

    
}
body{
    background-color: #f09aa9;
}

.header{
    background-color: #3b0016;
    color: #f09aa9;
    display: flex;
    position: absolute;
   
    width: 100%;
    height: 7%;
    justify-content: space-around;
}

.header div{
    margin-top: 0.5%;
    font-size: 25px;
}

.header img{
    height: 60%;
    width: 2%;
    margin: 0.5%;
}

.navbar .homebutton{
    color: #3b0016;
    font-size: 20px;
    padding: 0.2%;
    height: 6.5%;
    width: 3.5%;
    
    background:transparent;
    position: fixed;
    z-index: 10;
    text-align: center; 
    top:9%;
    left: 77%;
    
   
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;  
    cursor: pointer;
    
}

.navbar .homebutton:hover {
    transform: scale(1.2); /* This scales the button to 110% of its original size */
    
    
}




.navbar .loginbutton{
    color: #3b0016;
    font-size: 20px;
    padding: 0.2%;
    height: 7%;
    width: 4%;
    
    background:transparent;
    position: fixed;
    z-index: 10;
    text-align: center; 
    top:9%;
    left: 82%;
    
   
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;  
    cursor: pointer;
    
}

.navbar .loginbutton:hover {
    transform: scale(1.2); /* This scales the button to 110% of its original size */
    
    
}



.navbar .logo{
    z-index: 50;
    position: fixed;
    top:7%;
    left: 2%;
    height: 12%;
    width:6%;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease,  0.3s ease;
     
}

.navbar .logo:hover {
    transform: scale(1.2); /* This scales the button to 110% of its original size */
    
    
}

.navbar .wheel{
    z-index: 50;
    position: fixed;
    top:8%;
    left: 93%;
    height: 8%;
    width:4%;
    transition: transform 0.9s ease;
    
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease,  0.3s ease;
}

.navbar .wheel:hover {
    transform: scale(1.2); /* This scales the button to 110% of its original size */
       
}

.navbar .wheel:active {
    transform: rotate(180deg); /* Rotates the button by 45 degrees when clicked */
}

.navbar .shoppingbag{
    z-index: 50;
    position: fixed;
    top:9%;
    left: 88%;
    height: 5.5%;
    width:3%;
    
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease,  0.3s ease;

}
.navbar .shoppingbag:hover {
    transform: scale(1.2); /* This scales the button to 110% of its original size */
       
}



.title{
    font-size: 60px;
    position: absolute;
    top: 10%;
    left: 37%;

}

.cartproductscontainer{
    height: auto;
    width: 42%;
    position: absolute;
    top: 25%;
    left: 10%;
    padding: 0.5%;
    /* border: 2px solid black; */
    display: flex;
    flex-wrap: wrap;
    
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,225,0.1) ;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    
    
}

.product{
    border:2px solid #000 ;  
    height: 55vh;
    width: 18.5vw; 
    margin: 2%;
    padding: 1%;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,225,0.1) ;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.cartproductscontainer .product .image{
    height: 65%;
    width: 98%;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
}

.cartproductscontainer .product .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cartproductscontainer .product .name{
    font-size: 15px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
   
}

.cartproductscontainer .product .price{
    font-size: 15px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cartproductscontainer .product .quantity{
    font-size: 15px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.cartproductscontainer .product .discription{
    font-size: 15px;
    font-family: "Oswald", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.ttitle{
    font-size: 30px;
    text-align: center;
}

.checkoutcontainer{
   
    height: auto;
    width: 30%;
    position: absolute;
    padding: 1%;
    top: 25%;
    left: 60%;

    display: flex;
    flex-direction: column;

    
    

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,225,0.1) ;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
}

.tproduct{
    font-size: 20px ;
}

.totalcontainer{
    height: 17%;
    width: 95%;
    padding: 2%;

    font-size: 20px;

    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 2px solid rgba(255,255,225,0.1) ;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);

}


.checkoutbutton{
    margin-top: 10%;
    margin-left: 25%;
    margin-bottom: 5%;
    
    color: #f09aa9;

    text-align: center;


    
    background: #3b0016;
    font-size: 20px;
    
    height: 40px;
    width: 50%;
    border: 3px solid #3b0016;
   
    
    text-align: center; 

    
    
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease,  0.3s ease;  
    cursor: pointer;

    
    
}
 .checkoutbutton:hover {
    transform: scale(1.1); /* This scales the button to 110% of its original size */
    
   
}


.removecartbutton{
    height: 35px;
    width: 140px;
    font-size: 17px;
    position: absolute;
    top: 85%;
    left: 22%;
    color: #3b0016;
   
    border: 3px solid #3b0016;
    background:transparent;
    
    z-index: 10;
   
    box-shadow: 0px 5px 10px rgba(0.6, 0.6, 0.6, 0.6);
    border-radius: 25px;
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;  
    cursor: pointer;
}


.emptycart{
    font-size: 30px;
    color: #3b0016;
    position: relative;
    left: 35%;
}








